<header>
  <h1>Hacker News</h1>
  <p>
    <a href="#posts">new</a>
    <a href="#">comments</a>
    <a href="#">popular</a>
    <a href="#">login</a>
  </p>
</header>


<div class='post-container'>
  <% @posts.each do |post| %>
  <%= erb :"_article", layout: false, locals: { post: post } %>
  <% end %>
</div>

<form id="posts" method="post" action="/posts">
  <input id="text_feild" type="text" name="title" placeholder="title">
  <input type="submit" value="submit new post">
</form>
