<header>
  <h1>Ajax Newsfeed</h1>
</header>


<div class='post-container'>
  <% @posts.each do |post| %>
    <%= erb :"_article", layout: false, locals: {post: post } %>
  <% end %>
</div>

<form id="posts" method="post" action="/posts">
  <input class= "input" type="text" name="title" placeholder="title">
  <input type="submit" value="submit new post">
</form>
